<nav id="nav-container" *ngIf="authenticationService.isAuthenticated">
  <ul class="nav">
    <li class="logo">
      <a routerLink="/home"><i>Mail List</i></a>
    </li>
    <li class="burger" (click)="toggleMenu()">
      <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
    </li>
    <li class="menu" [class.is-open]="isMenuOpen">
      <a class="menu-item pointer" routerLink="/mails">Mail List</a>
      <a (click)="logout()" class="menu-item pointer" routerLink="/">Logout</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
